# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
/coverage
*.lcov

# Production
/build
/dist
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project.inland
*.inland
.project
.classpath
.settings/
*.sublime-workspace
*.sublime-project

# Local Netlify folder
.netlify

# Storybook
storybook-static

# Output
.output
.vercel
.wrangler

# OS
Thumbs.db

# Cache
.cache
.temp
.tmp
*.tmp
